@media screen and (max-width: 768px) {
  .logo {
    flex: none;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .nav-links {
    box-sizing: border-box;
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: #0c0c0c;
    position: absolute;
    top: 0;
    padding: 4rem 1rem 1rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    display: flex;
    z-index: 100;
  }

  .burger {
    display: block;
    z-index: 1000;
  }

  nav ul {
    margin-top: 0px;
  }

  .main-header {
    flex-direction: column;
  }

  .header-title {
    position: relative;
    bottom: 30px;
    font-size: 2rem;
  }

  .main-header {
    gap: 1rem;
  }

  .main-header img {
    width: 300px;
  }

  .desc-header {
    position: relative;
    bottom: 100px;
  }
}
