@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Audiowide&family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-title: 'Antonio', sans-serif;
  --font-navbar: 'Audiowide', sans-serif;
  --font-headline: 'Bebas Neue', sans-serif;
  --font-button: 'Exo 2', sans-serif;
  --font-tagline: 'Orbitron', sans-serif;
  --font-paragraph: 'Quicksand', sans-serif;
  --font-description: 'Roboto', sans-serif;

  --primary-color: #00ffff;
  --secondary-color: #001f3f;
  --accent-color: #ff007f;
  --background-color: #0d0d0d;
  --text-color: #f9f9f9;
  --gradient-color: linear-gradient(120deg, transparent, rgba(0, 255, 255, 0.6), transparent);
  --shadow-color: rgba(0, 255, 255, 0.5);
}

a {
  font-family: var(--font-navbar), sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: #f9f9f9;
  width: 100%;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 10rem;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: center;
  flex: 1;
  position: absolute;
  left: 3%;
  font-family: "Audiowide", serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul {
  padding-left: 0;
  margin-top: 0;
}

nav ul li a {
  color: var(--secondary-color);
  font-weight: 500;
  font-family: "Orbitron", serif;
}

.burger {
  position: absolute;
  left: 3%;
  display: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 5px;
  border-radius: 5px;
  transition: transform 0.3s, opacity 0.3s ease-in-out;
}

.burger.active div:nth-child(1) {
  transform: translate(0, 8px) rotate(45deg);
}

.burger.active div:nth-child(2) {
  opacity: 0;
}

.burger.active div:nth-child(3) {
  transform: translate(0, -8px) rotate(-45deg);
}

nav button {
  position: absolute;
  right: 3%;
  background: transparent;
  border: none;
  font-size: 20px;
}

.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-right a{
  color: var(--secondary-color);
  font-family: var(--font-navbar);
  font-weight: 500;
}

.header-content{
  width: 100%;
  padding:  0 3rem;
}

.header-title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 20px;
  min-height: 40vh;
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  font-size: 4rem;
  font-family: var(--font-tagline);
}

.main-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
  position: relative;
  bottom: 250px;
}

.main-header img{
  width: 100%;
  height: auto;
  max-width: 500px;
  rotate: -20deg;
}

.desc-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  max-width: 400px;
}

.desc-header p {
  font-family: var(--font-tagline);
  font-weight: 500;
  font-size: 2rem;
}

.btn-main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-main-header:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
